body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9;
}

a,
[type="submit"] {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

h1,
h2 {
  font-weight: 300;
  color: white;
}

label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}

.app__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 50rem;
  height: 30rem;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}

.app_menu {
  width: 10%;
  height: 100%;
  color: #000000;
  position: relative;
  padding: 0.5rem;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  background: url(http://ultraimg.com/images/spectre-login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.menu_content {
  padding-left: 1em;
  width: 50px;
  height: auto;
  list-style-type: none;
}

.page_content {
  width: 90%;
  height: 100%;
  color: #fff;
  padding: 2.5rem;
  background: #fafafa;
}